header {
  height: 100%;
  background: #313a4b;
  padding-bottom: 20px; 
}

h1 {
  color: #e5e5e3;
  font-family: nunito semibold, sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
}

h2 {
  color: #f8b953;
  font-family: nunito semibold, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}

.lines{
  display: flex;
  align-items: center;
}

.photo{
  text-align: center;
  padding: 10px;
}

hr{
  width: 100px;
  background-color: #f8b953;
  height: 1px;
  border: 0px;
}

li{
  font-size: 20px;
}

.contacts{
  color: #b6b6b6;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
  padding-top: 10px;
}

.description-block{
  padding: 20px;
}

.description{
  color: #313a4b;
  font-family: nunito semibold, sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

.contact-text {
  padding-top: 10px;
  font-family: nunito semibold, sans-serif;
  font-size: 15px;
}

.contact-el {
  text-align: center; 
}

h3{
  color: #313a4b;
  font-family: nunito semibold, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7px;
  width: 100%;
  padding: 10px;
}

.main{
  background: #f7f7f7;
  margin: auto;
  padding-bottom: 10px;
}

.line{
  width: 1000px;
  background-color: #313a4b;
  height: 1px;
  border: 0px;
}

.line-skills{
  width: 335px;
  background-color: #313a4b;
  height: 1px;
  border: 0px;
  margin-top: 10px;
}

.line-expirience{
  width: 335px;
  background-color: #313a4b;
  height: 1px;
  border: 0px;
  margin-top: 17px;
}

.line-down{
  width: 1000px;
  background-color: #313a4b;
  height: 1px;
  border: 0px;
  margin-top: 10px;
}

ul{
  margin-left: 70px;
}

li.skills{
  color: #f8b953;
  font-family: nunito semibold, sans-serif;
  text-transform: uppercase;
  margin: 5px;
}

li span{
  color: #313a4b; 
}

p.education{
  color: #313a4b;
  font-family: nunito semibold, sans-serif;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

p.expirience{
  color: #313a4b;
  font-family: nunito semibold, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.projects{
  text-align: center;
}

.projects-book{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.projects-desert{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.projects-monoprice{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

.projects-legal{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 10px;
}

footer{
  width: 100%;
  height: 100px;
  background: #313a4b;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.download-img{
  padding-right: 30px;
}